@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: 'Amatic SC', cursive;
    overflow-x: hidden;
}
.conteudo-slider {
    position: relative;
    height: 600px;
    width: 100%;
}
.conteudo-slider img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.conteudo-slider .conteudo-slider__text {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: right;
    right: 50px;
    top: 50%;
    transform: translate(30%, -50%);
    opacity: 0;
    transition: all .4s .8s;
}
.slick-active .conteudo-slider .conteudo-slider__text {
    opacity: 1;
    transform: translate(0, -50%);
}
.conteudo-slider .conteudo-slider__text h2,
.conteudo-slider .conteudo-slider__text p {
    margin: 0;
}
.conteudo-slider .conteudo-slider__text h2 {
    font-size: 6rem;
    font-weight: 700;
}
.conteudo-slider .conteudo-slider__text p {
    font-size: 4rem;
    font-weight: 400;
}


/*Config setas slick*/

.slick-arrow {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translate(0, -50%);
    background-color: transparent;
    border: 0;
    color: transparent;
    width: 3rem;
    padding: 0;
}
.slick-prev {
    left: .5rem;
}
.slick-next {
    right: .5rem;
}
.slick-prev::before,
.slick-next::before {
    color: white;
    font-size: 4rem;
}
.slick-prev::before {
    content: "<";
}
.slick-next::before {
    content: ">";
}

/*Config dots slick*/

.slick-dots {
    position: absolute;
    margin: 0;
    padding: 1rem;
    list-style: none;
    background-color: #00000066;
    border-radius: 2rem;
    display: flex;
    gap: .5rem;
    left: 50%;
    transform: translate(-50%, -150%);
}
.slick-dots li {
    height: 1rem;
}
.slick-dots button {
    color: transparent;
    border: 0;
    padding: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ffffff66;
}
.slick-dots .slick-active button {
    background-color: #fff;
}